# Created by .gitignore support plugin (hsz.mobi)
[ ![Codeship Status for ahmer-yasin/mean-app](https://codeship.com/projects/83897100-509a-0132-1d2d-5e79016b539c/status)](https://codeship.com/projects/48089)