<div class="container">
    <h1 class="text-center"><b>ToDo App</b></h1>
    <h2 class="text-center"><b>Student</b></h2>

    <div class="form-group text-center pull-right">
        <div class="col-lg-12">
            <a class="btn btn-primary btn-lg" ng-click="logOutStudent()">Logout</a>
        </div>
    </div>


    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th colspan="5">{{student.firstName}}</th>
        </tr>
        </thead>
        <thead>
        <tr>
            <th>#</th>
            <th>Last Name</th>
            <th colspan="5">{{student.lastName}}</th>
        </tr>
        </thead>
        <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th colspan="5">{{student.email}}</th>
        </tr>
        </thead>
        <thead>
        <tr>
            <th>#</th>
            <th>Class</th>
            <th colspan="5">{{student.class}}</th>
        </tr>
        </thead>
        <thead>
        <tr>
            <th >#</th>
            <th >Rating</th>
            <th colspan="5">{{student.rating}}</th>
        </tr>
        </thead>
        <thead>
        <tr>
            <th>#</th>
            <th>Subject</th>
            <th ng-repeat="subjt in student.subjects track by $index">{{subjt}}</th>
        </tr>
        </thead>
    </table>

    <div class="text-center" >
    <h2 style="margin: 0"><b>TASK</b></h2>
    <div style="background-color: #a6e1ec;height: 58px;padding: 15px;border: 1px solid; border-radius: 2px" class="col-md-12" >{{student.studentTask.task}}</div>
            <b style="margin-left:50px;" class="pull-left">Done task: <input type="checkbox" ng-model="student.studentTask.taskDone" ng-click="student.studentTask.taskDone=!student.studentTask.taskDone"></b> <br>
            <b style="margin-right:50px;" class="pull-right">Rating from admin: <i style="color:red">{{student.studentTask.taskRating}}</i></b>
        <div>
         <span style="background-color:red;margin-left:50px border: 1px solid; border-radius: 2px;" class="text-center"><b>Comments</b></span>
            <span style="background-color: azure;margin-top:-4px;border: 1px solid; border-radius: 5px;color: red" class="col-md-12" ng-repeat="cmnts in student.studentTask.comments track by $index">{{cmnts}}</span>
        </div>
        <span><textarea style="margin-right: 150px; border: 1px solid; border-radius: 2px" ng-model="comment" cols="100" rows="2">{{comment}}</textarea></span><br/>
        <button class="btn bg-primary text-center" ng-click="addComments(comment)">Add Comment</button>
    </div>

</div>